@font-face {
  font-family: 'Silka';
  font-style: thin;
  font-weight: 100;
  src: url('./fonts/Silka-Complete-Webfont/web/silka-thin-webfont.eot');
  src: url('./fonts/Silka-Complete-Webfont/web/silka-thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Silka-Complete-Webfont/web/silka-thin-webfont.woff2') format('woff2'),
       url('./fonts/Silka-Complete-Webfont/web/silka-thin-webfont.woff') format('woff'),
       url('./fonts/Silka-Complete-Webfont/web/silka-thin-webfont.ttf') format('truetype');
}

  @font-face {
  font-family: 'Silka';
  font-style: 'extralight';
  font-weight: 200;
  src: url('./fonts/Silka-Complete-Webfont/web/silka-extralight-webfont.eot');
  src: url('./fonts/Silka-Complete-Webfont/web/silka-extralight-webfont.eot?#iefix') format('embedded-opentype'),
          url('./fonts/Silka-Complete-Webfont/web/silka-extralight-webfont.woff2') format('woff2'),
          url('./fonts/Silka-Complete-Webfont/web/silka-extralight-webfont.woff') format('woff'),
          url('./fonts/Silka-Complete-Webfont/web/silka-extralight-webfont.ttf') format('truetype');
  }

@font-face {
  font-family: 'Silka';
  font-style: 'light';
  font-weight: 300;
  src: url('./fonts/Silka-Complete-Webfont/web/silka-light-webfont.eot');
  src: url('./fonts/Silka-Complete-Webfont/web/silka-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Silka-Complete-Webfont/web/silka-light-webfont.woff2') format('woff2'),
       url('./fonts/Silka-Complete-Webfont/web/silka-light-webfont.woff') format('woff'),
       url('./fonts/Silka-Complete-Webfont/web/silka-light-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Silka';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Silka-Complete-Webfont/web/silka-regular-webfont.eot');
  src: url('./fonts/Silka-Complete-Webfont/web/silka-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Silka-Complete-Webfont/web/silka-regular-webfont.woff2') format('woff2'),
       url('./fonts/Silka-Complete-Webfont/web/silka-regular-webfont.woff') format('woff'),
       url('./fonts/Silka-Complete-Webfont/web/silka-regular-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Silka';
  font-style: medium;
  font-weight: 500;
  src: url('./fonts/Silka-Complete-Webfont/web/silka-medium-webfont.eot');
  src: url('./fonts/Silka-Complete-Webfont/web/silka-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Silka-Complete-Webfont/web/silka-medium-webfont.woff2') format('woff2'),
       url('./fonts/Silka-Complete-Webfont/web/silka-medium-webfont.woff') format('woff'),
       url('./fonts/Silka-Complete-Webfont/web/silka-medium-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Silka';
  font-style: 'semibold';
  font-weight: 600;
  src: url('./fonts/Silka-Complete-Webfont/web/silka-semibold-webfont.eot');
  src: url('./fonts/Silka-Complete-Webfont/web/silka-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Silka-Complete-Webfont/web/silka-semibold-webfont.woff2') format('woff2'),
       url('./fonts/Silka-Complete-Webfont/web/silka-semibold-webfont.woff') format('woff'),
       url('./fonts/Silka-Complete-Webfont/web/silka-semibold-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Silka';
  font-style: 'bold';
  font-weight: 700;
  src: url('./fonts/Silka-Complete-Webfont/web/silka-bold-webfont.eot');
  src: url('./fonts/Silka-Complete-Webfont/web/silka-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Silka-Complete-Webfont/web/silka-bold-webfont.woff2') format('woff2'),
       url('./fonts/Silka-Complete-Webfont/web/silka-bold-webfont.woff') format('woff'),
       url('./fonts/Silka-Complete-Webfont/web/silka-bold-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Silka';
  font-style: 'extrabold';
  font-weight: 800;
  src: url('./fonts/Silka-Complete-Webfont/web/silka-black-webfont.eot');
  src: url('./fonts/Silka-Complete-Webfont/web/silka-black-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Silka-Complete-Webfont/web/silka-black-webfont.woff2') format('woff2'),
       url('./fonts/Silka-Complete-Webfont/web/silka-black-webfont.woff') format('woff'),
       url('./fonts/Silka-Complete-Webfont/web/silka-black-webfont.ttf') format('truetype');
}

html{
  height:100%;
  --mainColor: #57068c;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%;
}

#root{
  height:100%;
  font-family:'Silka' !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input{
  transition: background .1s ease-in,width .1s ease-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding:18px;
  outline: none;
  background: #f1f3f4;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 100%;
  font-size: .875rem;
  height: 2rem;
  line-height: 1.375rem;
}


.navbar{
  display: flex;
  align-items: center;
  height:2.5rem;
  background-color: #f1f3f4;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.custom-select{
  box-sizing: border-box;
  height: 2rem;
  line-height: 1.375rem;
  font-weight: 600;
  background: #f1f3f4;
  /* border: 1px solid transparent; */
  outline:none;
  border-radius: 4px;
  padding-left: 5px;
  padding-top:2px;
}

.login-button{
  margin-top: 15px;
  color: #fff;
  font-weight: 400;
  width:150px;
  background-color: var(--mainColor);
  display: inline-block;
  font-weight: 600;
  line-height: 1;
  letter-spacing: .5px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 14px;
  text-decoration: none;
  transition: all .3s ease;
  transition: all .3s ease-in-out;
  outline: none;
  border: none;
}

.contact-button{
  margin-top: 15px;
  color: #fff;
  font-weight: 400;
  background-color: var(--mainColor);
  display: inline-block;
  font-weight: 600;
  line-height: 1;
  letter-spacing: .5px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 4px;
  padding: 10px 15px;
  width:150px;
  font-size: 14px;
  text-decoration: none;
  transition: all .3s ease;
  transition: all .3s ease-in-out;
  outline: none;
  border: none;
}


.footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height:3rem;
  background-color: #f1f3f4;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}