.login-button{
    margin-top: 15px;
    color: #fff;
    font-weight: 400;
    width:150px;
    background-color: var(--mainColor);
    display: inline-block;
    font-weight: 600;
    line-height: 1;
    letter-spacing: .5px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 14px;
    text-decoration: none;
    transition: all .3s ease;
    transition: all .3s ease-in-out;
    outline: none;
    border: none;
}